<h2>New Event</h2>
<div class="row">
  <div class="small-6 columns">
    <%= form_for(@event) do |f| %>
        <%= f.error_messages %>
      <p class="panel">
        <%= f.label :event %>
        <%= f.text_field :event %>
      </p>
      <p class="panel">
        <%= f.label :details %>
        <%= f.text_field :details %>
      </p>
      <p class="panel">
        <%= f.label :date %>
        <%= f.text_field :date %>
      </p>
      <%= f.submit %>
    <% end %>
  </div>
</div>